---
title: GPS
subtitle: Use gps technology for better hike experience
body: A GPS tracking unit, geotracking unit, or simply tracker is a navigation device normally on a vehicle, asset, person or animal that uses the Global Positioning System to determine its movement and determine its WGS84 UTM geographic position to determine its location.
img: /assets/img/gps.jpg
---
{% include "_components/feature.njk" %}