---
title: Social
subtitle: Connect with friends and/or other hikers
body: Social features are interactive elements that resemble social media and thus build the hiking community.
img: /assets/img/social.jpg
---
{% include "_components/feature.njk" %}