// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
    &--primary {
        border: none;
        padding: $spacing-base;
        background-color: $main-green;
        color: $whitish;
        border-radius: $radius-sm;
    }

    &--secondary {
        border: none;
        padding: $spacing-base;
        background-color: $whitish;
        color: $main-green;
        border-radius: $radius-sm;
    }

    &--more {
        border: none;
        margin: $spacing-sm 0;
        padding: $spacing-sm;
        background-color: $whitish;
        color: $main-green;
        border-radius: $radius-sm;
    }
}

button {
    cursor: pointer;
}