.cards-features {
    @include h-list(4);

    >li {
        @include flexer(center, center, wrap);
        padding: 0.4rem 0.6rem;
        text-align: center;

        & strong {
            padding-top: 1.8rem;
            padding-bottom: 1rem;
            flex-basis: 100%;
        }

        & small {
            flex-basis: 100%;
        }

        & a {
            margin: 1.2rem 1.6rem; 
            border: 3px solid #ff0000;
            padding: 0.8rem 1rem;
        }
    }
}

.cards-quotes {
    @include h-list(4);

    >li {
        flex-grow: 1;
        padding: 0.4rem 0.6rem;

        & blockquote {
            margin: 0;
            margin-bottom: 1rem;
            text-align: left;
            border-left: solid 1px black;
            padding: 0.4rem;
        }

        & figcaption {
            @include flexer(center, space-between, nowrap);

            & img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                margin-right: 0.4rem;
            }

            & p {
                flex-basis: 100%;
                flex-grow: 1;
            }
        }
    }
}

.cards-customers {
    @include h-list(5);

    >li {
        @include flexer(center, center, nowrap);
        margin-bottom: 1rem;

        & img {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
        }
    }
}

.cards-posts {
    @include h-list(4);

    >li {
        @include flexer(center, space-between, wrap);
        flex-grow: 1;
        padding: $spacing-sm $spacing-base;
        text-align: justify;

        & strong {
            padding-top: $spacing-md;
            padding-bottom: $spacing-base;
            flex-basis: 100%;
        }

        & small {
            flex-basis: 100%;
        }
    }
}