.cards-features {
    @include h-list(4);

    >li {
        @include flexer(center, center, wrap);
        text-align: center;

        & strong {
            flex-basis: 100%;
            margin: $spacing-sm;
        }

        & small {
            flex-basis: 100%;
        }

        & a {
            margin: $spacing-sm;
        }
    }
}

.cards-quotes {
    @include h-list(4);

    >li {
        flex-grow: 1;

        & blockquote {
            margin-bottom: $spacing-md;
            text-align: left;
            border-left: solid 1px $button-label;
            padding-left: $spacing-sm;
            color: $button-label-dark;
        }

        & figcaption {
            @include flexer(center, space-between, nowrap);

            & img {
                width: $spacing-lg;
                height: $spacing-lg;
                border-radius: 50%;
                margin-right: $spacing-sm;
            }

            & p {
                flex-basis: 100%;
                flex-grow: 1;
                color: $button-label-dark;
            }
        }
    }
}

.cards-customers {
    @include h-list(5);

    >li {
        @include flexer(center, center, nowrap);
        margin-bottom: $spacing-base;

        & img {
            width: $small-image;
            height: $small-image;
            border-radius: 50%;
        }
    }
}

.cards-posts {
    @include h-list(4);

    >li {
        @include flexer(center, flex-start, wrap);
        flex-grow: 1;
        margin: $spacing-sm $spacing-base;
        text-align: justify;

        & strong {
            margin-top: $spacing-md;
            margin-bottom: $spacing-base;
            flex-basis: 100%;
        }

        & small {
            flex-basis: 100%;
        }
    }
}