.h-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;

    &__item {
        flex-basis: 30%;
        flex-grow: 1;
    }

    &__item--xl{
        flex-basis: 20%;
        flex-grow: 1;
    }
}