input {
    border: $selected 1px solid;
    background-color: $whitish;
    border-radius: $radius-sm;
    padding: $spacing-sm;

    &::placeholder {
      color: $button-label;
    }
}

textarea {
    border: $selected 1px solid;
    background-color: $whitish;
    border-radius: $radius-sm;
    padding: $spacing-sm;

    &::placeholder {
      color: $button-label;
    }
  }