---
layout: hero-image
title: Contact
subtitle: dit is een contact pagina
eleventyNavigation:
    key: Contact
    order: 5
---

<h1>Contact us</h1>

<form>
    <fieldset>
        <label for="email">Uw email</label>

        <input type="text" name="email" id="email">
    </fieldset>

    <fieldset>
        <label for="subj">Onderwerp</label>

        <input type="text" name="subj" id="subj">
    </fieldset>

    <fieldset>
        <label for="content">Inhoud</label>

        <textarea name="content" id="content"></textarea>
    </fieldset>

    <button type="submit">verzenden</button>
</form>