---
layout: hero-image
title: Contact
subtitle: dit is een contact pagina
eleventyNavigation:
    key: Contact
    order: 5
---

<h1>Contact us</h1>

<form>
    <label for="email">Uw email</label>

    <input type="text" name="email" id="email">

    <label for="subj">Onderwerp</label>

    <input type="text" name="subj" id="subj">

    <label for="content">Inhoud</label>

    <input type="text" name="content" id="content">

    <button type="submit">verzenden</button>
</form>