---
layout: contact
title: Contact us
subtitle:
eleventyNavigation:
    key: Contact
    order: 5
---
    <form action="/">
        <fieldset>
            <label for="email">Uw email</label>

            <input type="text" name="email" id="email" placeholder="user@example.com...">
        </fieldset>

        <fieldset>
            <label for="subj">Onderwerp</label>

            <input type="text" name="subj" id="subj" placeholder="Nieuwe route....">
        </fieldset>

        <fieldset>
            <label for="content">Inhoud</label>

            <textarea name="content" id="content" placeholder="Omschrijf de reden van contact..."></textarea>
        </fieldset>

        <button type="submit" class="btn--primary">verzenden</button>
    </form>