.features {
    margin: $spacing-md auto;
    width: 50%;
    
    &__btn {
        margin-top: 1rem;
    }

    .feature {
        @include flexer (center, space-between, nowrap, 50%);

        &--left{
            flex-basis: 35%;
        }

        &--right {
            flex-basis: 45%;
            background-color: $whitish;
            padding: $spacing-lg;
            border-radius: $radius-base;
        }
    }
}