.footer {
    margin-top: $spacing-lg;
    text-align: center;
    background-color: $whitish;
    padding: $spacing-lg;

    @include flexer(flex-start, space-evenly, wrap, auto);

    > div {
        flex-basis: 50%;

        @include flexer(flex-start, center, wrap, auto);

        >strong {
             flex-basis: 100%;
             margin: $spacing-sm;
        }

        >a{
            background-color: $main-green;
            padding: $spacing-sm;
        }

        >small {
            flex-basis: 20%;
            text-align: justify;
        }
    }
}