.contact-form {
  @include flexer(center, center, nowrap);

  > form {
    flex-basis: 60%;

    fieldset {
      border: none;
      @include flexer(center, flex-start, wrap);
      padding: $spacing-sm 0;

      label {
        color: $button-label-dark;
        margin-bottom: $spacing-sm;
      }

      input {
        flex-basis: 100%;
        border: $selected 1px solid;
        background-color: $whitish;
        border-radius: $radius-sm;
        padding: $spacing-sm;

        &::placeholder {
          color: $button-label;
        }
      }

      textarea {
        flex-basis: 100%;
        border: $selected 1px solid;
        background-color: $whitish;
        border-radius: $radius-sm;
        padding: $spacing-sm;

        &::placeholder {
          color: $button-label;
        }
      }
    }

    button {
      cursor: pointer;
    }
  }
}