.contact-form {
  width: 50%;
  margin: 0 auto;

  > form {

    fieldset {
      border: none;
      @include flexer(center, flex-start, wrap);
      padding: $spacing-sm 0;

      label {
        color: $button-label-dark;
        margin-bottom: $spacing-sm;
      }

      input {
        flex-basis: 100%;
      }

      textarea {
        flex-basis: 100%;
      }
    }
  }
}