.hero {
    display: flex;
    margin: $spacing-base auto $spacing-base;
    max-width: 1920px;

    &__decoration {
        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__content {
        @include flexer(center, center, wrap);
        align-content: center;
        background-color: $whitish;
        padding: $spacing-base $spacing-lg;

        &__list {
            margin-top: $spacing-lg;
            list-style: none;
            padding: 0;

            &__item {
                margin-bottom: $spacing-lg;

                &__text {
                    font-size: $text-sm;
                    color: $main-green;
                    max-width: 250px;
                }
            }
        }
    }

    &__btn {
        margin-bottom: 1rem;
    }
}