---
layout: base
---

<img src="http://picsum.photos/1240/320" />

<div class="page-title">
    <h1>{{ title }}</h1>
    
    <small>{{ subtitle }}</small>
</div>

<div class="contact-form">
    {{ content | safe }}
</div>