.about {
    margin: 0  auto;
    width: 50%;
    @include flexer(center, flex-start, wrap, auto);

    p {
        flex-basis: 50%;
        text-align: justify;
        margin:$spacing-sm 0 $spacing-lg;
    }

    &--h-layout {
        @include flexer(center, space-between, nowrap, auto);

        img {
            flex-basis: 50%;
        }

        div {
            flex-basis:40%;

            ul{
                flex-basis: 100%;
                margin: $spacing-lg 0 $spacing-base;
                @include flexer(center, center, nowrap, auto);
        
                li {
                    margin-right: $spacing-base;
                    text-align: center;
                    @include flexer (center, center, wrap, auto);
        
                    strong {
                        flex-basis: 100%;
                    }
                }
            }
        }
    }
}