.about {
    margin: 0  auto;
    width: 50%;
    @include flexer(center, flex-start, wrap);

    p {
        flex-basis: 50%;
        text-align: justify;
        margin:$spacing-sm 0 $spacing-lg;
    }

    ul{
        flex-basis: 100%;
        margin: $spacing-lg 0 $spacing-base;
        @include flexer(center, flex-start, nowrap);

        li {
            margin-right: $spacing-base;
            text-align: center;
            @include flexer (center, center, wrap);

            strong {
                flex-basis: 100%;
            }
        }
    }

    &--h-layout {
        @include flexer(center, space-between, nowrap);

        img {
            flex-basis: 50%;
        }

        div {
            flex-basis:40%;
        }
    }
}