---
layout: hero-image
title: Artikels
tags:
subtitle: Hier komen alle artikels!
allAuthors:
    - Cagri Cem Avci
eleventyNavigation:
    key: News
    order: 2
---

<h2>
    Check our latest news!
</h2>
<ul class="news">
    {% for article in collections.news %}
        <li>
            <a href="{{ article.url }}">
                {{ article.data.title }}
            </a>
        </li>
    {% endfor %}
</ul>