<div class="feature">
    <div class="feature--left">
        <img src="{{img}}" alt="{{title}}" />
    </div>

    <div class="feature--right">
        <h1>{{title}}</h1>
        <p>{{body}}</p>
    </div>
</div>
    
{{ content | safe }}