{% if collections.features | length %}
<section class="container">
    <h2>Features</h2>

    <ul class="cards-features">
        {% for feature in collections.features %}
        <li class="">
            <img class="" src="{{ feature.data.img }}" />

            <strong>{{ feature.data.title }}</strong>

            <small>{{ feature.data.subtitle }}</small>

            <a href="{{ feature.url }}" class="btn--primary">
                {{ feature.data.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}